{% extends "layout.html" %}
{% block content %}
  <br>
  <!-- <p>My string: {{my_string}}</p> -->
  <h2>Menu Page</h2>
  <!-- <ul>
     {% for n in my_list %}
    <li>{{n}}</li>
    {% endfor %}
  </ul> -->
  <table class="table table-striped thead-dark" id="example"  width="100%">
    <thead>
      <tr>
        <th>#</th>
        <th>Item</th>
        <th>Category</th>
        <th>Description</th>
        <th>Price</th>
        <th>Order</th>
      </tr>
    </thead>
  </table>
{% endblock %}

